<template>
    <header class="header">
        <a class="header__toggle" @click="toggleMenu" v-if="!hideToggle">
            <i class="fa fa-lg" :class="icon"></i>
        </a>
        <h1 class="header__title">
            <router-link to="/">{{ title }}</router-link>
        </h1>
        <UserDropdown v-if="!hideUserDropDown"/>
    </header>
</template>

<script>

import UserDropdown from './UserDropdown'

export default {
    name: 'Header',
    components: { UserDropdown },
    props: {
        title: String,
        hideToggle: Boolean,
        hideUserDropDown: Boolean
    },
    computed: {
        icon() {
            return this.$store.state.isMenuVisible ? 'fa-angle-left' : 'fa-angle-down'
        }
    },
    methods: {
        toggleMenu() {
            this.$store.commit('toggleMenu')
        }
    }
}

</script>

<style>

.header {
    grid-area: header;
    background: linear-gradient(to right, #1e469a, #49a7c1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
    flex-grow: 1;
    text-align: center;
}

.header__title a {
    color: #fff;
    text-decoration: none;
}

.header__title a:hover {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

.header.header > a.header__toggle {
    width: 60px;
    height: 100%;
    color: #fff;
    justify-content: flex-start;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

header.header > a.header__toggle:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

</style>