<template>
  <nav class="user__dropdown">

    <div class="user__button">
      <span class="d-nome d-sm-block">{{ user.name }}</span>
      <div class="user__dropdown--img">
        <Gravatar :email="user.email" alt="User" /> 
      </div>
      <i class="fa fa-angle-down"></i>
    </div>

    <div class="user__dropdown--content">
      <router-link to="/admin" class="user__dropdown___admin">
        <i class="fa fa-cogs user__dropdown--icon"></i> Admistrativo
      </router-link>
      <a class="user__dropdown___logout" href><i class="fa fa-sign-out user__dropdown--icon"></i>Sair</a>
    </div>

  </nav>

</template>

<script>

import { mapState } from 'vuex'
import Gravatar from 'vue-gravatar'

export default {
  name: 'UserDropdown',
  components: { Gravatar },
  computed: mapState(['user'])
}
</script>

<style>

nav.user__dropdown {
  position: relative;
  height: 100%;  
  margin: 0;
}

.user__button {
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0px 20px;
}

.user__dropdown--img {
  margin: 0px 10px;
}

.user__dropdown--img > img {
  max-height: 35px;
  border-radius: 50%;
}

.user__dropdown--content {
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f9f9f9;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.user__dropdown:hover .user__dropdown--content {
  visibility: visible;
  opacity: 1;
}

.user__dropdown___logout,
.user__dropdown___admin {
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #000;  
}

.user__dropdown--icon {
  margin-right: 0.5rem;
  text-decoration: none;
  color: #000;  
}

.user__dropdown___admin:hover,
.user__dropdown___logout:hover {
  color: #000;
  font-size: 1.1rem;
  text-decoration: none;
}

</style>